.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 7.5px;
  padding-left: 7.5px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3em;
}

.careerLabel {
  line-height: 250%;
  border-radius: 25px;
}

.employeeLabel {
  line-height: 250%;
  border-radius: 5px;
}

.careerCard {
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
}

.salaryCard{
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  max-width: fit-content !important;
  height: fit-content;
  background: #00A4CC;
}

.doubleUnderline {
  text-decoration-line: underline;
  text-decoration-style: double;
  color: #00A4CC;
}

.text-left{
  text-align: -webkit-left;

}
.float-right{
  float: right;
}

.dialogCloseButtonStyles{
  margin-bottom: 15px;
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  align-self: flex-end;
}

.dialogStyles{
  width: 800px;
  max-width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  background-color: #eee;
  padding: 10px 20px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.viewDetail {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.viewDetailNav {
  width: 70%;
  height: 80px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.viewDetailNav a {
  width: 150px;
  height: 50px;
  background-color: rgb(69, 62, 249);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
